<div>

    <div #tableContainer [formGroup]="secondFormGroup">
        <div class="mb-8" *ngIf="showCreateEachTaskOnce">
            <p-checkbox formControlName="createEachTaskOnce" [binary]="true" inputId="createEachTaskOnce" /> 
            <label for="createEachTaskOnce" class="ml-2">Créer les tâches seulement une fois</label>
        </div>
        <div class="mb-8">
            <p-checkbox [binary]="true"  (onChange)="onChange($event)" inputId="showDescription" /> 
            <label for="showDescription" class="ml-2">Afficher la description</label>
        </div>
        <p-table
        class="table-resize"
        [value]="taskAssignments.value"
        [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10, 25, 100]"
        >
        <ng-template #header>
            <tr>
            <th style="width:25%">Titre</th>
            <th *ngIf="showDescription" style="width:30%">Description</th>
            <th pSortableColumn="room" style="width:15%">Pièce</th>
            <th pSortableColumn="frequency" style="width:10%">Fréquence</th>
            <th style="width:20%">Assigner</th>
            </tr>
        </ng-template>
        <ng-template #body let-element let-rowIndex="rowIndex">
            <tr>
            <td>{{ element.title }}</td>
            <td *ngIf="showDescription">{{ element.description }}</td>
            <td>{{ `ROOM.${element.room}` | translate }}</td>
            <td>{{ `FREQUENCY.${element.frequency}` | translate }}</td>
            <td>
                <div class="card flex justify-center flex-wrap gap-4">
                    <div class="flex flex-wrap gap-4">
                        <div class="flex items-center">           
                            <p-radiobutton name="selected-{{rowIndex}}" [value]="ASSIGNEE.Camille" [formControl]="getFormControl(rowIndex, 'assignee')" inputId="selected1-{{rowIndex}}" />
                            <label for="selected1-{{rowIndex}}" class="ml-2">{{ASSIGNEE.Camille }}</label>
                        </div>                    
    
                        <div class="flex items-center">
                            <p-radiobutton name="selected-{{rowIndex}}" [value]="ASSIGNEE.Felix"  [formControl]="getFormControl(rowIndex, 'assignee')" inputId="selected2-{{rowIndex}}" />
                            <label for="selected2-{{rowIndex}}" class="ml-2">{{ASSIGNEE.Felix }}</label>
                        </div>
                    </div>
                </div>
            </td>
            </tr>
        </ng-template>
        </p-table>
    </div>
    <div class="flex pt-6 justify-between">
        <p-button label="Back" severity="secondary" icon="pi pi-arrow-left" (onClick)="onCancel()" />
        <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="onSubmit()" />
    </div>
</div>