/* Target the host element when the highlight class is present */
:host(.highlight-monday) .p-card { 
    border: 2px solid #a7f3d0; 
}

:host(.highlight-wednesday) .p-card { 
    border: 2px solid #3b82f6; 
}

:host .p-card {
    box-sizing: border-box;
}

:host {
    display: block; 
    height: 100%; 
}

.p-card-content i.pi-image {
    margin: auto;
}

.first .p-card {
    border: 2px solid #a7f3d0 !important;
    box-shadow: 0 0 8px rgba(144, 202, 249, 0.5);
    border-radius: 0.5rem;
}  

.last .p-card {
    border: 2px solid #3d535a !important;
    box-shadow: 0 0 8px rgba(144, 202, 249, 0.5);
    border-radius: 0.5rem;
}

.today .p-card {
    border: 2px solid #feffac !important;
    box-shadow: 0 0 8px rgba(128, 128, 128, 0.5);
    border-radius: 0.5rem;
}

.selected .p-card {
    border: 2px solid #3b82f6 !important;
    box-shadow: 0 0 8px rgba(144, 202, 249, 0.5);
    background-color:  #b6dcdd !important;
    border-radius: 0.5rem;
}