<div>

    <p-stepper [value]="1" class="basis-[50rem]">
        <p-step-list>
            <p-step [value]="1">Sélection de la période</p-step>
            <p-step [value]="2">Assignation des tâches</p-step>
        </p-step-list>
        <p-step-panels>
            <p-step-panel [value]="1">
                <ng-template #content let-activateCallback="activateCallback">
                    <form [formGroup]="formGroup">
                        <div class="d-block gap-4">
                            <p-select [options]="taskPeriods"  class="input-width" optionValue="value" optionLabel="label" (onChange)="disableOtherFields($event)" placeholder="Choisir une période existante" formControlName="taskPeriod"></p-select>
                        </div>
                        <div>
                            <p class="font-semibold">Date début de période:</p>
                            <p-datepicker appendTo="body" size="large" class="dp-margin" placeholder="Date de début"formControlName="startDate" showIcon iconDisplay="input" />
                        </div>
                        <div class="flex flex-wrap gap-8 d-block">
                        
                            <p class="font-semibold">Durée de la période:</p>
                            <div class="mb-8">
                                <p-checkbox formControlName="durationType" [binary]="true" inputId="periodType" /> 
                                <label for="weekly" class="ml-2">Choisir un deadline fixe</label>
                            </div>
                            <div *ngIf="!durationType?.value else explicitDate">
                                <div class="flex items-center">
                                    <p-radiobutton name="duration" size="large" [value]="FREQUENCY.WEEKLY" formControlName="duration" inputId="weekly" />
                                    <label for="weekly" class="ml-2">1 semaine</label>
                                </div>                    
                    
                                <div class="flex items-center">
                                    <p-radiobutton name="duration" size="large" [value]="FREQUENCY.BIWEEKLY" formControlName="duration" inputId="biweekly" />
                                    <label for="biweekly" class="ml-2">2 semaines</label>
                                </div>
                            
                                <div class="flex items-center">
                                    <p-radiobutton name="duration" size="large" [value]="FREQUENCY.MONTHLY" formControlName="duration" inputId="monthly" />
                                    <label for="monthly" class="ml-2">1 mois</label>
                                </div>
                                <div class="flex items-center">
                                    <p-radiobutton name="duration" size="large" [value]="FREQUENCY.BIYEARLY" formControlName="duration" inputId="biyearly" />
                                    <label for="monthly" class="ml-2">6 mois</label>
                                </div>
                            
                                <div class="flex items-center">
                                    <p-radiobutton name="duration" size="large" [value]="FREQUENCY.YEARLY" formControlName="duration" inputId="yearly" />
                                    <label for="yearly" class="ml-2">1 an</label>
                                </div>
                            </div>
                            <ng-template #explicitDate>
                                <p-datepicker appendTo="body" size="large" class="dp-margin" placeholder="Date de fin" formControlName="explicitDueDate" showIcon iconDisplay="input" />
                            </ng-template>
                        </div>
                
                        <div class="mb-8 gap-8">
                            <p class="font-semibold">Méthode d'assignation des tâches</p>
                            <div class="flex items-center">
                                <p-radiobutton name="creationMethod" size="large" [value]="CREATION_METHOD.AUTOMATIC" formControlName="creationMethod" inputId="automatic" />
                                <label for="automatic" class="ml-2">Automatiquement créer les tâches attitrées</label>
                            </div>
                        
                            <div class="flex items-center">
                                <p-radiobutton name="creationMethod" size="large" [value]="CREATION_METHOD.MANUAL" formControlName="creationMethod" inputId="manual" />
                                <label for="manual" class="ml-2">Manuellement sélectionner les tâches à créer</label>
                            </div>
                        </div>
                        <div class="button-space">
                            <p-button *ngIf="isAutomaticCreation else nextButton" size="large" (onClick)="submit()" label="Soumettre"></p-button>
                            <ng-template #nextButton>
                                <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" size="large" (onClick)="activateSecondFormGroup(activateCallback)" />
                            </ng-template>  
                            <p-button severity="secondary" size="large" (onClick)="close()" label="Annuler"></p-button>
                        </div>
                    </form>
                </ng-template>
            </p-step-panel>
    
            <p-step-panel [value]="2">
                <ng-template #content let-activateCallback="activateCallback">
                    <app-task-assignment [showCreateEachTaskOnce]="true" (submit)="submit($event)" (cancel)="close()"></app-task-assignment>
                </ng-template>
            </p-step-panel>
        </p-step-panels>
    </p-stepper>
    
    
</div>