.centerForm{
    display: flex;
    text-align: center;
}

.input-width{
    width: 300px;
    margin-bottom: 10px;
}

.dp-margin {
    margin-top: 50px;
}

.button-space{
    padding-top:10px;
}

.mb-8{
    margin-bottom: 8px;
}
