<div class="dialog-content">
    <div class="form-group">
        <label for="title" class="label-bold">Titre de la tâche</label>
        <input pInputText id="title" [(ngModel)]="task.title" placeholder="ex: Passer l'aspirateur" autofocus class="full-width"/>
    </div>

    <div class="form-group">
        <label for="desc" class="label-bold">Description</label>
        <textarea pInputTextarea id="desc" [(ngModel)]="task.description" rows="3" placeholder="Détails supplémentaires (optionnel)" class="full-width"></textarea>
    </div>

    <div class="form-row">
        <div class="form-group full-width">
            <label class="label-bold">Assignée à</label>
            <p-dropdown [options]="householdMembers" [(ngModel)]="assigneeUserId" placeholder="Sélectionner une personne" appendTo="body" styleClass="full-width"></p-dropdown>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group half-width">
            <label class="label-bold">Fréquence</label>
            <p-dropdown [options]="frequencies" [(ngModel)]="task.frequency" placeholder="Sélectionner" appendTo="body" styleClass="full-width"></p-dropdown>
        </div>
        <div class="form-group half-width">
            <label class="label-bold">Pièce</label>
            <p-dropdown [options]="rooms" [(ngModel)]="task.room" placeholder="Sélectionner" appendTo="body" styleClass="full-width"></p-dropdown>
        </div>
        <div class="form-group half-width">
            <label class="label-bold">Notifier l'assigné</label>
            <p-checkbox  [(ngModel)]="task.doNotify" [binary]="true" placeholder="Sélectionner" appendTo="body" styleClass="full-width"></p-checkbox>
        </div>
    </div>

    <div class="dialog-footer">
        <p-button label="Annuler" styleClass="p-button-text p-button-secondary" (onClick)="close()"></p-button>
        <p-button [label]="isEditMode ? 'Sauvegarder' : 'Créer la tâche'" (onClick)="save()" [disabled]="!task.title || !task.frequency || !task.room"></p-button>
    </div>
</div>