.container {
    margin:2%;
    background-color:white;
    text-align: center;
}


.mt-4{
    margin-top: 3%;
}

.input-width {
    min-width: 150px;
}

@media all and (min-width:0px) and (max-width: 1024px) {
    .create-button {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
    }
}

.d-block{
    display: block;
}