<div class="p-4 bg-white rounded-md shadow-md">
    <div class="flex items-center mb-4">
      <label for="hideCompletedTasksCB" class="mr-4 text-sm font-medium text-gray-700">
        Cacher les tâches complétées aujourd'hui
      </label>
      <p-checkbox
        inputId="hideCompletedTasksCB"
        [(ngModel)]="hideCompletedTasks"
        (onChange)="onHideCompletedTasks($event)"
        [binary]="true"
      ></p-checkbox>
    </div>
  
    <div class="text-center">
        <p-accordion value="0"
        class="mb-4"
        *ngIf="expiredTasks?.length">
            <p-accordion-panel value="0">  
                <p-accordion-header class="text-2xl font-semibold">Tâches expirées</p-accordion-header>
                <p-accordion-content>
                    <app-warning-tasks-due [expiredTasks]="expiredTasks"></app-warning-tasks-due>
                </p-accordion-content>
            </p-accordion-panel>
        </p-accordion>
    </div>

  
    <div class="text-center">
    <p-accordion value="0" *ngIf="taskAssignments?.length">
        <p-accordion-panel value="0">
            <p-accordion-header class="text-2xl font-semibold">Tâches complétées</p-accordion-header>
            <p-accordion-content>
                <app-completed-tasks [taskAssignments]="taskAssignments"></app-completed-tasks>
            </p-accordion-content>
        </p-accordion-panel>
    </p-accordion>
    </div>
  
    <p-card>
      <div class="text-center">
        <app-my-tasks (taskCompleteEmitter)="refreshExpiredTasks($event)"></app-my-tasks>
      </div>
    </p-card>
  </div>