:host ::ng-deep .recipe-details-accordion .p-accordion-header-link {
  padding: 1rem 0.5rem; 
  font-size: 0.9rem;
  font-weight: 700;
  border: none !important;
  background: transparent !important;
}
  
:host ::ng-deep .recipe-details-accordion .p-accordion-content {
  padding: 0.5rem 0.5rem 1rem 0.5rem; 
  border: none !important;
  background: transparent !important;
}
  
.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.description-paragraph {
  white-space: pre-wrap; 
  word-break: break-word; 
}