.add-button {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}



@media all and (min-width:0px) and (max-width: 1024px) {
    .create-button {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
    }
}