<div class="flex justify-center gap-6">
    <div *ngFor="let member of householdMembers" class="cursor-pointer" (click)="clicked(member)">
        <img [src]="member.imageUrl || 'assets/placeholder.jpg'"
            class="relative w-16 h-16 rounded-full object-cover border-4 shadow-md hover:border-b-blue-200"
            [ngClass]="selectedUser?.id === member.id ? 'border-blue-400' : 'border-white'">

        <p class="mt-2 text-xs font-semibold text-slate-600 group-hover:text-pink-600 transition-colors">
        {{ member.name }}
        </p>
    </div>
</div>