<div>
    <p-button class="submit-button float-right d-block" mat-flat-button (click)="create()">Créer</p-button>
    <div>
        <h2>Tâches Copain</h2>

        <p-table
        [value]="tasksCopain"
        [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[1, 3, 5]"
        >
            <ng-template #header>
                <tr>
                    <th style="width:30%">Titre</th>
                    <th style="width:40%">Description</th>
                </tr>
            </ng-template>
            <ng-template #body let-element>
                <tr>
                    <td>{{ element.title }}</td>
                    <td>{{ element.description }}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td></td>
                    <td>Aucune tâche</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div>
        <h2>Tâches Copine</h2>

        <p-table
        [value]="tasksCopine"
        [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10, 25, 50]"
        >
            <ng-template #header>
                <tr>
                    <th style="width:30%">Titre</th>
                    <th style="width:40%">Description</th>
                </tr>
            </ng-template>
            <ng-template #body let-element>
                <tr>
                    <td>{{ element.title }}</td>
                    <td>{{ element.description }}</td>
                </tr>
            </ng-template>
            
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td></td>
                    <td>Aucune tâche</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>