<div>
    <p-button class="submit-button float-right d-block" mat-flat-button (click)="create()">Créer</p-button>
    <div>
        <h2>Tâches Copain</h2>

        <p-table
        [value]="tasksCopain?.tasks ||[]"
        [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[1, 3, 5]"
        >
            <ng-template #header>
                <tr>
                    <th style="width:30%">Titre</th>
                    <th style="width:40%">Description</th>
                    <th style="width:10%">Désassigner</th>
                </tr>
            </ng-template>
            <ng-template #body let-element>
                <tr>
                    <td>{{ element.title }}</td>
                    <td>{{ element.description }}</td>
                    <td><p-button (onClick)="unassign(element, tasksCopain)" label="Désassigner"></p-button></td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td></td>
                    <td>Aucune tâche</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div>
        <h2>Tâches Copine</h2>

        <p-table
        [value]="tasksCopine?.tasks|| []"
        [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10, 25, 50]"
        >
            <ng-template #header>
                <tr>
                    <th style="width:30%">Titre</th>
                    <th style="width:40%">Description</th>
                    <th style="width:10%">Désassigner</th>
                </tr>
            </ng-template>
            <ng-template #body let-element>
                <tr>
                    <td>{{ element.title }}</td>
                    <td>{{ element.description }}</td>
                    <td><p-button (onClick)="unassign(element, tasksCopine)" label="Désassigner"></p-button></td>
                </tr>
            </ng-template>
            
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td></td>
                    <td>Aucune tâche</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>