<nav class="bg-white shadow-md h-16 flex items-center px-6 lg:px-20 hidden sm:flex">
  <div class="flex items-center space-x-4">
    <a mat-button [routerLink]="'dashboard'" class="text-gray-700 hover:text-blue-500 font-medium">Dashboard</a>
    <a mat-button [routerLink]="'tasks'" class="text-gray-700 hover:text-blue-500 font-medium">Tâches</a>
    <a mat-button [routerLink]="'shopping-list'" class="text-gray-700 hover:text-blue-500 font-medium">Liste d'achat</a>
  </div>
</nav>

<header class="bg-white shadow-md h-12 fixed top-0 left-0 right-0 z-10
               flex items-center justify-center px-4
               lg:hidden
               pt-[env(safe-area-inset-top)] pb-[env(safe-area-inset-top)]">
  <img src="assets/Gemini_Generated_Image_fw61ocfw61ocfw61-modified.png" alt="App Icon" class="h-6 w-6 mr-2">
  <div class="font-semibold text-lg text-gray-800">
   Couple Task Manager
  </div>
</header>

<div class="border-b border-gray-200 lg:block hidden"></div>
