.submit-button{
    background: green !important;
}

.container {
    padding:2%;
}

.form-container > * {
    margin: 10px;
}


.d-block {
    display: block;
}

.input-width {
    width: 500px;
}

.button-space {
    padding-top: 10px;
}