<div class="flex flex-col min-h-screen">
  @if (selectedTrip) {
    <p-button label="Back to All Trips" icon="pi pi-arrow-left" (click)="selectedTrip = null" class="p-button-secondary mb-4"></p-button>
    <div class="flex-grow overflow-auto mb-16">
      <app-trip-details [trip]="selectedTrip"></app-trip-details>
    </div>
  } @else {
    <div class="flex justify-between items-center mb-6">
      <h3 class="text-xl font-semibold text-gray-800">Mes voyages</h3>
      <p-button label="Ajouter voyage" icon="pi pi-plus" (click)="showCreateTripDialog()" class="p-button-success"></p-button>
    </div>

    <p-panel class="mb-4">
      @if (trips.length > 0) {
        @for (trip of trips; track trip.id) {
          <div class="p-panel-content border-b last:border-b-0 py-3 cursor-pointer hover:bg-gray-50" (click)="selectTrip(trip)">
            <div class="flex justify-between items-center">
              <h5 class="text-lg font-medium text-gray-900">{{ trip.destination }}</h5>
              <span class="inline-flex items-center px-2 py-1 text-xs font-medium text-yellow-800 bg-yellow-100 rounded-full">
                <i class="pi pi-sparkles mr-1"></i>
                {{ daysUntil(trip.departureDate) }} avant le départ!
              </span>
            </div>
            <p class="text-sm text-gray-600 mt-1">Départ le: {{ trip.departureDate | date: 'fullDate' }}</p>
          </div>
        }
      } @else {
        <div class="p-panel-content text-center text-gray-500 py-4">
          Aucun voyage à venir.
        </div>
      }
    </p-panel>
  }

  <p-dialog header="Create a New Trip" [(visible)]="displayCreateTripModal" [modal]="true" [style]="{ width: '30rem' }" [draggable]="false" class="p-shadow-4">
    <form #tripForm="ngForm" (ngSubmit)="createTrip(tripForm.value)" class="p-fluid">
      <div class="field mb-4">
        <label for="destination" class="block text-sm font-medium text-gray-700">Destination</label>
        <input pInputText id="destination" name="destination" ngModel required class="w-full mt-1 p-inputtext" />
      </div>
      <div class="field">
        <label for="departureDate" class="block text-sm font-medium text-gray-700">Date de départ</label>
        <p-calendar id="departureDate" name="departureDate" ngModel required dateFormat="yy-mm-dd" class="w-full mt-1"></p-calendar>
      </div>
      <div class="flex justify-end gap-2 mt-6">
        <p-button label="Cancel" severity="secondary" (click)="displayCreateTripModal = false" class="p-button-outlined"></p-button>
        <p-button label="Create Trip" type="submit" [disabled]="tripForm.invalid" class="p-button-primary"></p-button>
      </div>
    </form>
  </p-dialog>
</div>