<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
<p-toast></p-toast>

<div class="p-4 md:p-6 pb-16">
  <!-- Loading, Error, Empty States... -->
  <div *ngIf="isLoading" class="flex justify-content-center align-items-center py-10">
    <p-progressSpinner styleClass="w-8 h-8" strokeWidth="4" animationDuration=".5s"></p-progressSpinner>
  </div>
  <div *ngIf="!isLoading && errorLoading" class="flex justify-content-center py-10">
     <p-message severity="error" text="Une erreur est survenue lors du chargement des recettes."></p-message>
  </div>

  <div *ngIf="!isLoading && !errorLoading" class="flex justify-end mb-4 md:mb-6">
    <button pButton pRipple
            type="button"
            icon="pi pi-plus"
            label="Ajouter une recette"
            class="p-button-raised"
            (click)="openCreateRecipeDialog()">
    </button>
</div>

  <div *ngIf="!isLoading && !errorLoading && recipes.length === 0" class="flex justify-content-center py-10">
     <p-message severity="info" text="Aucune recette trouvée. Commencez par en ajouter une !"></p-message>
  </div>

  <!-- Recipes Grid -->
  <div *ngIf="!isLoading && !errorLoading && recipes.length > 0" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 md:gap-6">
    <div *ngFor="let recipe of recipes; trackBy: trackById" class="recipe-card-wrapper">
      <app-recipe-card [buttonsTemplate]="buttonsTemplate" [recipe]="recipe"></app-recipe-card>
      <ng-template #buttonsTemplate>
        <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-text p-button-sm text-primary-500 dark:text-primary-400" (click)="editRecipe(recipe)" aria-label="Modifier la recette" pTooltip="Modifier" tooltipPosition="top"></button>
        <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-text p-button-sm p-button-danger" (click)="confirmDelete($event, recipe)" aria-label="Supprimer la recette" pTooltip="Supprimer" tooltipPosition="top" [disabled]="!recipe.id"></button>
      </ng-template>
    </div>
  </div>
</div>