<nav class="fixed bottom-0 left-0 w-full bg-white shadow-md z-50 sm:hidden">
    <div class="flex justify-around items-center p-4">
      <a routerLink="/dashboard" class="flex flex-col items-center text-gray-600 hover:text-blue-500">
        <i class="pi pi-home text-2xl"></i>
        <span class="text-sm">Dashboard</span>
      </a>
      <a routerLink="/tasks" class="flex flex-col items-center text-gray-600 hover:text-blue-500">
        <i class="pi pi-list text-2xl"></i>
        <span class="text-sm">Tâches</span>
      </a>
      <a routerLink="/split" class="flex flex-col items-center text-gray-600 hover:text-blue-500">
        <i class="pi pi-sitemap text-2xl"></i>
        <span class="text-sm">Assigner</span>
      </a>
      <a routerLink="/shopping-list" class="flex flex-col items-center text-gray-600 hover:text-blue-500">
        <i class="pi pi-shopping-cart text-2xl"></i>
        <span class="text-sm">Panier</span>
      </a>
      <a (click)="openAppStore()" class="flex flex-col items-center text-gray-600 hover:text-blue-500">
        <i class="pi pi-download text-2xl"></i>
        <span class="text-sm">Mise à jour</span>
      </a>
    </div>
  </nav>