<div [formGroup]="formGroup" class="p-4  rounded-md shadow-md bg-white">
    <div class="mb-4">
      <label for="taskId" class="block text-sm font-medium text-gray-700">Tâche</label>
      <div class="mt-1">
        <p-select
          class="min-w-full"
          [options]="tasks"
          itemid="taskId"
          appendTo="body"
          formControlName="taskId"
          optionValue="id"
          optionLabel="title"
        ></p-select>
      </div>
    </div>
  
    <div class="mb-4">
      <label for="assignee" class="block text-sm font-medium text-gray-700">Assigné à</label>
      <div class="mt-1">
        <p-select
          class="min-w-full"
          [options]="assignees"
          itemid="assignee"
          appendTo="body"
          formControlName="assignee"
        ></p-select>
      </div>
    </div>
  
    <div class="flex justify-end space-x-2">
      <p-button (onClick)="quickComplete()" label="Compléter" class="text-white font-bold py-2 px-4 rounded"></p-button>
      <p-button (onClick)="onCancel()" severity="secondary" label="Annuler" class="text-gray-800 font-bold py-2 px-4 rounded"></p-button>
    </div>
  </div>