

<div class="d-block">
    <h4 class="text-align-center">Assigner des tâches</h4>

</div>

  <div class="card flex justify-center">
    <p-stepper [(value)]="activeStep" class="basis-[40rem]">
        <p-step-list>
            <p-step [value]="1" class="flex flex-row flex-auto gap-2">
                <ng-template #content let-activateCallback="activateCallback" let-value="value">
                    <button class="bg-transparent border-0 inline-flex flex-col gap-2" (click)="activateCallback()">
                        <span
                            class="rounded-full border-2 w-12 h-12 inline-flex items-center justify-center"
                            [ngClass]="{
                                'bg-primary text-primary-contrast border-primary': value <= activeStep,
                                'border-surface': value > activeStep
                            }"
                        >
                            <i class="pi pi-user"></i>
                        </span>
                    </button>
                </ng-template>
            </p-step>

            <p-step [value]="2" class="flex flex-row flex-auto gap-2">
                <ng-template #content let-activateCallback="activateCallback" let-value="value">
                    <button class="bg-transparent border-0 inline-flex flex-col gap-2" (click)="activateCallback()">
                        <span
                            class="rounded-full border-2 w-12 h-12 inline-flex items-center justify-center"
                            [ngClass]="{
                                'bg-primary text-primary-contrast border-primary': value <= activeStep,
                                'border-surface': value > activeStep
                            }"
                        >
                            <i class="pi pi-star"></i>
                        </span>
                    </button>
                </ng-template>
            </p-step>

            <p-step [value]="3" class="flex flex-row flex-auto gap-2">
                <ng-template #content let-activateCallback="activateCallback" let-value="value">
                    <button class="bg-transparent border-0 inline-flex flex-col gap-2" (click)="activateCallback()">
                        <span
                            class="rounded-full border-2 w-12 h-12 inline-flex items-center justify-center"
                            [ngClass]="{
                                'bg-primary text-primary-contrast border-primary': value <= activeStep,
                                'border-surface': value > activeStep
                            }"
                        >
                            <i class="pi pi-id-card"></i>
                        </span>
                    </button>
                </ng-template>
            </p-step>
        </p-step-list>

        <p-step-panels>
            <p-step-panel [value]="1" [formGroup]="firstFormGroup">
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-wrap gap-4">
                        <div class="flex items-center">
                            <p-radiobutton name="assignee" [value]="ASSIGNEE.Camille" formControlName="assignee" inputId="camille" />
                            <label for="assignee" class="ml-2">{{ASSIGNEE.Camille }}</label>
                        </div>                    
    
                        <div class="flex items-center">
                            <p-radiobutton name="assignee" [value]="ASSIGNEE.Felix" formControlName="assignee" inputId="felix" />
                            <label for="assignee" class="ml-2">{{ASSIGNEE.Felix }}</label>
                        </div>
                    </div>
                    <div class="flex pt-6 justify-end">
                        <p-button (onClick)="createTaskList(activateCallback)" label="Next" icon="pi pi-arrow-right" iconPos="right" />
                        <p-button (onClick)="cancel()" severity="secondary" label="Cancel"  icon="pi pi-times" iconPos="right" />
                    </div>
                </ng-template>
            </p-step-panel>


            <p-step-panel [value]="2">      
                <ng-template #content let-activateCallback="activateCallback">

                <div #tableContainer>
                    <p-table
                    class="table-resize"
                    [formGroup]="secondFormGroup"
                    [value]="tableData"
                    [paginator]="true"
                    [rows]="10"
                    [showCurrentPageReport]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [rowsPerPageOptions]="[10, 25, 100]"
                    >
                    <ng-template #header>
                        <tr>
                        <th style="width:30%">Titre</th>
                        <th style="width:40%">Description</th>
                        <th style="width:20%">Assigner</th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-element let-rowIndex="rowIndex">
                        <tr>
                        <td>{{ element.title }}</td>
                        <td>{{ element.description }}</td>
                        <td>
                            <div class="card flex justify-center flex-wrap gap-4">
                            <div class="flex flex-wrap gap-4">
                                <div class="flex items-center">
                                    <p-checkbox
                                    name="selected-{{rowIndex}}"
                                    value="true"
                                    [binary]="true"
                                    [formControl]="getFormControl(rowIndex, 'selected')"
                                    inputId="selected-{{rowIndex}}"
                                  />
                                </div>
                            </div>
                            </div>
                        </td>
                        </tr>
                    </ng-template>
                    </p-table>
                </div>
                <div class="flex pt-6 justify-end">
                    <p-button (onClick)="next()" label="Next" icon="pi pi-arrow-right" iconPos="right" />
                    <p-button (onClick)="cancel()" severity="secondary" label="Cancel"  icon="pi pi-times" iconPos="right" />
                </div>
                </ng-template>
                
            </p-step-panel>

            <p-step-panel [value]="3">
                <ng-template #content let-activateCallback="activateCallback">
                    <p-button (onClick)="submit()" label="Soumettre"></p-button>
                    <p-button (onClick)="cancel()" severity="secondary" label="Cancel"  icon="pi pi-times" iconPos="right" />
                </ng-template>
            </p-step-panel>
        </p-step-panels>
    </p-stepper>
    
</div>