<div *ngIf="trip" class="mb-6">
  <div class="flex flex-col md:flex-row justify-between md:items-center gap-4 mb-4">
    <h2 class="text-3xl font-bold text-gray-800 m-0 text-center">{{ trip.destination }}</h2>
  </div>

  <app-countdown-timer [targetDate]="trip.departureDate"></app-countdown-timer>

  <p-accordion [multiple]="true" class="mt-4">
    <p-accordion-panel *ngFor="let category of categories">
      <p-accordion-header>
        <span class="font-bold text-lg">{{ category }}</span>
      </p-accordion-header>
      <p-accordion-content>
        <div class="flex flex-col gap-2">
          <div *ngFor="let item of getItemsByCategory(category)" class="checklist-item" [class.packed]="item.packed">
            <div class="flex items-center gap-4">
              <p-checkbox 
                [(ngModel)]="item.packed" 
                [name]="'packed-' + item.id" 
                [binary]="true" 
                (onChange)="onItemUpdate(item)">
              </p-checkbox>
              <span class="font-medium item-name flex-grow">{{ item.name }}</span>
              <p-inputNumber 
                [(ngModel)]="item.quantity" 
                [name]="'quantity-' + item.id" 
                [showButtons]="true" 
                styleClass="quantity-input" 
                (onBlur)="onItemUpdate(item)">
              </p-inputNumber>
              <p-button *ngIf="editMode" icon="pi pi-trash" severity="danger" [text]="true" (onClick)="removeItem(item)"></p-button>
            </div>
          </div>

          <div *ngIf="editMode" class="flex items-center gap-2 mt-2 align-baseline">
            <span class="p-input-icon-left flex-grow">
              <input pInputText [(ngModel)]="newItemName[category]" [name]="'newItem-' + category" placeholder="Ajouter un article..." (keyup.enter)="addNewItem(category)" class="w-full m-0" />
            </span>
            <p-button label="Add" (onClick)="addNewItem(category)" [styleClass]="'w-auto'" class="m-0"></p-button>
          </div>
        </div>
      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>
  
    <div class="flex items-center gap-3 p-2 rounded-lg text-end align-items-end bg-gray-100 self-start md:self-center">
      <label for="editModeToggle" class="font-medium text-gray-600">Mode modification</label>
      <p-inputSwitch [(ngModel)]="editMode" name="editModeToggle" inputId="editModeToggle"></p-inputSwitch>
    </div>
</div>