<form [formGroup]="transactionForm" (ngSubmit)="saveTransaction()" class="p-4">
  <div class="flex flex-col gap-4 p-fluid">
    <div class="flex flex-col gap-2">
      <label for="description">Description</label>
      <input pInputText id="description" formControlName="description" />
    </div>

    <div class="grid grid-cols-2 gap-3">
      <div class="flex flex-col gap-2">
        <label for="amount">Amount</label>
        <p-inputNumber inputId="amount" formControlName="amount" mode="currency" currency="CAD"></p-inputNumber>
      </div>
      <div class="flex flex-col gap-2">
        <label for="date">Date</label>
        <p-calendar inputId="date" formControlName="date" [showIcon]="true"></p-calendar>
      </div>
    </div>

    <div class="flex flex-col gap-2">
      <label for="note">Note (Optional)</label>
      <textarea pInputTextarea id="note" formControlName="note" [autoResize]="true" rows="3"></textarea>
    </div>
  </div>

  <div class="flex justify-end gap-2 pt-6">
    <button pButton pRipple type="button" label="Cancel" icon="pi pi-times" class="p-button-text" (click)="closeDialog()"></button>
    <button pButton pRipple type="submit" label="Save Transaction" icon="pi pi-check" [disabled]="transactionForm.invalid"></button>
  </div>
</form>